<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Resume</title>
    <link rel="stylesheet" href="{{asset('vendors/bootstrap/dist/css/bootstrap.min.css')}}">
</head>
<body>
    

   

     <style>
         th,td{
              text-align: center;
              font-size: 12px;
         }
     </style>

    <div style="margin: 0 auto;display: block;">


        <table class="table table-bordered text-nowrap">
                  <thead>
                    <tr>
                      <th class="mb-5">Motif</th>
                      <th>Date de rencontre</th>
                      <th>Nom du chef délégation</th>
                      <th>Numéro</th>
                      {# <th>Nombre de participant</th> #}
                      <th>Communaute</th>
                      <th>Localité</th>
                      <th>Status de l'Audience</th>
                     {# <th>Date de création</th>
                     <th>Date de la dernière modtification</th> #}

                    </tr>
                  </thead>
                  <tbody>
                    {% for audience in data %}

                     <tr>
                    <td>{{ audience.motif }}</td>
                    <td>{{ audience.daterencontre ? audience.daterencontre|date('d-m-Y ') : '' }}</td>
                   <td>{{ audience.nomchef }}</td>
                    <td>{{ audience.numero }}</td>
                    {# <td>{{ audience.nombreparticipant }}</td> #}
                    <td>{{ audience.communaute.libelle }}</td>
                    <td>{{ audience.communaute.localite.libelle }}</td>
                    {# <td>{{ audience.observation }}</td> #}
                    <td>{{ audience.statusaudience ? 'Yes' : 'No' }}</td>
                    {# <td>{{ audience.CreatedAt ? audience.CreatedAt|date('d-m-Y  ') : '' }}</td>
                    <td>{{ audience.UpdatedAt ? audience.UpdatedAt|date('d-m-Y  ') : '' }}</td> #}
                    </tr>
              
                {% endfor %}

            </tbody>
        </table>
    </div>
     <script src="{{ asset('assets/scripts/pdf/js/bootstrap.bundle.min.js') }}"></script>
     <script src="../../../public/assets/pdf/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>


{% block page_content %}
    <div class="modal-header">
        <h4 class="modal-title">Détails Audience</h4>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div>
   
    <div class="modal-body">
        <table class="table table-bordered">
        <tbody>
                 {# <tr>
                    <th>Id</th>
                    <td>{{ audience.id }}</td>
                </tr> #}
                <tr>
                    <th>Motif</th>
                    <td>{{ audience.motif }}</td>
                </tr>
                <tr>
                    <th>Date de rencontre</th>
                    <td>{{ audience.daterencontre ? audience.daterencontre|date('d-m-Y ') : '' }}</td>
                </tr>
                <tr>
                    <th>Nom du chef délégation</th>
                    <td>{{ audience.nomchef }}</td>
                </tr>
                <tr>
                    <th>Numéro</th>
                    <td>{{ audience.numero }}</td>
                </tr>
                <tr>
                    <th>Nombre de participant</th>
                    <td>{{ audience.nombreparticipant }}</td>
                </tr>
                  <tr>
                    <th>Communaute</th>
                    <td>{{ audience.communaute.libelle }}</td>
                </tr>
                <tr>
                    <th>Localité</th>
                    <td>{{ audience.communaute.localite.libelle }}</td>
                </tr>
                {# <tr>
                    <th>Nom desparticipant</th>
                    <td>{{ audience.nomdesparticipant }}</td>
                </tr> #}
                 <tr>
                    <th>Observation</th>
                    <td>{{ audience.observation }}</td>
                </tr>
                <tr>
                    <th>Status de l'Audience</th>
                    <td>{{ audience.statusaudience ? 'Yes' : 'No' }}</td>
                </tr>
                {# <tr>
                    <th>Mentions</th>
                    <td>{{ audience.mentions ? 'Yes' : 'No' }}</td>
                </tr> #}
                <tr>
                    <th>Date de création</th>
                    <td>{{ audience.CreatedAt ? audience.CreatedAt|date('d-m-Y  ') : '' }}</td>
                </tr>

                <tr>
                    <th>Date de la dernière modtification</th>
                    <td>{{ audience.UpdatedAt ? audience.UpdatedAt|date('d-m-Y  ') : '' }}</td>
                </tr>
            </tbody>
    </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-bs-dismiss="modal">Fermer</button>
    </div>
</html>