


{% block page_content %}
    <div class="modal-header">
        <h4 class="modal-title">Détails Audience</h4>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div>
   
    <div class="">
      <table class="table table-bordered text-nowrap">
                  <thead>
                    <tr>
                      <th class="mb-5">Motif</th>
                      <th>Date de rencontre</th>
                      <th>Nom du chef délégation</th>
                      <th>Numéro</th>
                      {# <th>Nombre de participant</th> #}
                      <th>Communaute</th>
                      <th>Localité</th>
                      <th>Status de l'Audience</th>
                     {# <th>Date de création</th>
                     <th>Date de la dernière modtification</th> #}

                    </tr>
                  </thead>
                  <tbody>
                    {% for audience in data %}

                     <tr>
                    <td>{{ audience.motif }}</td>
                    <td>{{ audience.daterencontre ? audience.daterencontre|date('d-m-Y ') : '' }}</td>
                   <td>{{ audience.nomchef }}</td>
                    <td>{{ audience.numero }}</td>
                    {# <td>{{ audience.nombreparticipant }}</td> #}
                    <td>{{ audience.communaute.libelle }}</td>
                    <td>{{ audience.communaute.localite.libelle }}</td>
                    {# <td>{{ audience.observation }}</td> #}
                    <td>{{ audience.statusaudience ? 'Yes' : 'No' }}</td>
                    {# <td>{{ audience.CreatedAt ? audience.CreatedAt|date('d-m-Y  ') : '' }}</td>
                    <td>{{ audience.UpdatedAt ? audience.UpdatedAt|date('d-m-Y  ') : '' }}</td> #}
                    </tr>
              
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-bs-dismiss="modal">Fermer</button>
    </div>
</html>