{# {% extends 'base-layout.html.twig' %}

{% block title %}Liste des localites{% endblock %}
{% block header %}localites{% endblock %}
{% block breadcrumb %}{% endblock %} #}
{% block body %}
<div class="card shadow-sm">
    <div class="card-header card-header-sm">
        <h3 class="card-title"> Liste des localites</h3>
        <div class="card-toolbar">
            <a href="{{ path('app_pdf_generator_localite') }}" class="btn btn-success btn-sm"  
                        data-bs-toggle="modal" data-bs-target="#exampleModalSizeLg2">
                        <i class="bi bi-plus-square text-light"></i>
                        imprimer
                    </a>
                 &nbsp;
            <a href="{{ path('app_parametre_localite_new') }}" class="btn btn-main btn-sm"  
                data-bs-toggle="modal" data-bs-target="#exampleModalSizeLg2">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a>
       
            {# {% if permition != "RS" %}
            <a href="{{ path('app_parametre_localite_new') }}" class="btn btn-main btn-sm"  
                data-bs-toggle="modal" data-bs-target="#exampleModalSizeLg2">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a>
            {% endif %} #}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="grid_app_parametre_localite" class="grid-dt-wrapper">Chargement....</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block java %}
    <script src="{{ asset('assets/js/datatables.js') }}"></script>
    <script> 
        $(function() { 
              $('#grid_app_parametre_localite').initDataTables({{ datatable_settings(datatable) }}, {
                  searching: true,
                  ajaxUrl: "{{ path('app_parametre_localite_index') }}",
                  language: {
                      url: asset_base_path + "/js/i18n/French.json"
                  }
              });
        });
    </script>
{% endblock %}
